# Data Manipulation with Pandas

This notebook covers essential data manipulation techniques using the pandas library in Python. Pandas is one of the most powerful and flexible tools for data analysis and manipulation in Python.

## Topics Covered:
1. Introduction to pandas and basic data structures
2. Reading and writing data
3. Data inspection and cleaning
4. Filtering, selecting, and indexing data
5. Data transformation and aggregation
6. Handling missing data
7. Merging, joining, and concatenating dataframes
8. Working with time series data
9. Practical exercises

Each section includes real-life use cases to demonstrate practical applications of these concepts.

## 1. Introduction to Pandas and Basic Data Structures

Pandas provides two primary data structures:
- **Series**: One-dimensional array-like object containing a sequence of values with associated labels (index)
- **DataFrame**: Two-dimensional tabular data structure with labeled axes (rows and columns)

### Real-Life Use Case: Customer Analytics

Imagine you work for an e-commerce company and need to analyze customer data. You'd use a DataFrame to store information about each customer (rows) with various attributes like purchase history, demographics, and engagement metrics (columns). Series objects might represent individual metrics like customer lifetime value or days since last purchase.

In [1]:
# Import pandas library
import pandas as pd
import numpy as np

# Display settings for better readability
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 20)

In [2]:
# Creating a Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print("Pandas Series:")
print(s)
print("\nIndex:", s.index)
print("Values:", s.values)

# Output:
# Pandas Series:
# a    10
# b    20
# c    30
# d    40
# dtype: int64
#
# Index: Index(['a', 'b', 'c', 'd'], dtype='object')
# Values: [10 20 30 40]

Pandas Series:
a    10
b    20
c    30
d    40
dtype: int64

Index: Index(['a', 'b', 'c', 'd'], dtype='object')
Values: [10 20 30 40]

In [3]:
# Creating a DataFrame
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 42],
    'City': ['New York', 'Paris', 'Berlin', 'London'],
    'Salary': [65000, 70000, 62000, 85000]
}

df = pd.DataFrame(data)
print("DataFrame:")
df

# Output:
#    Name  Age      City  Salary
# 0  John   28  New York   65000
# 1  Anna   34     Paris   70000
# 2 Peter   29    Berlin   62000
# 3 Linda   42    London   85000

DataFrame:

    Name  Age      City  Salary
0   John   28  New York   65000
1   Anna   34     Paris   70000
2  Peter   29    Berlin   62000
3  Linda   42    London   85000

## 2. Reading and Writing Data

Pandas can read data from various file formats including CSV, Excel, SQL databases, JSON, and more.

### Real-Life Use Case: Financial Data Analysis

In financial analysis, you often need to import data from multiple sources. For example, you might download historical stock price CSVs from Yahoo Finance, import transaction records from Excel spreadsheets, and pull economic indicators from an API in JSON format. Pandas provides a consistent interface for importing and exporting all these formats, allowing you to focus on the analysis rather than dealing with the complexities of different file types.

In [4]:
# Creating a sample DataFrame to save
sample_df = pd.DataFrame({
    'A': np.random.rand(5),          # Random float values
    'B': np.random.randint(0, 10, 5), # Random integers between 0-9
    'C': ['foo', 'bar', 'baz', 'qux', 'quux'],  # Text values
    'D': pd.date_range('2023-01-01', periods=5)  # Date range
})

# Saving to CSV
sample_df.to_csv('sample_data.csv', index=False)
print("Data saved to CSV file")  # Output: Data saved to CSV file

Data saved to CSV file

In [5]:
# Reading from CSV
df_from_csv = pd.read_csv('sample_data.csv')
print("Data loaded from CSV:")
df_from_csv

# Output: (exact values will vary due to random generation)
#           A  B     C           D
# 0  0.374540  9   foo  2023-01-01
# 1  0.950714  3   bar  2023-01-02
# 2  0.731994  5   baz  2023-01-03
# 3  0.598658  3   qux  2023-01-04
# 4  0.156019  4  quux  2023-01-05

Data loaded from CSV:

          A  B     C           D
0  0.554919  1   foo  2023-01-01
1  0.798723  3   bar  2023-01-02
2  0.387432  9   baz  2023-01-03
3  0.043309  0   qux  2023-01-04
4  0.120993  7  quux  2023-01-05

In [6]:
# Creating a more realistic sample dataset
np.random.seed(42)
dates = pd.date_range('2023-01-01', periods=100)

sales_data = pd.DataFrame({
    'Date': dates,
    'Store': np.random.choice(['A', 'B', 'C', 'D'], 100),
    'Product': np.random.choice(['Widget', 'Gadget', 'Tool', 'Device'], 100),
    'Units_Sold': np.random.randint(1, 50, 100),
    'Revenue': np.random.randint(100, 5000, 100),
    'Customer_Satisfaction': np.random.randint(1, 6, 100)
})

# Save this dataset for future use
sales_data.to_csv('sales_data.csv', index=False)
sales_data.head()

        Date Store Product  Units_Sold  Revenue  Customer_Satisfaction
0 2023-01-01     C    Tool          32     1469                      5
1 2023-01-02     D  Gadget          39     2086                      1
2 2023-01-03     A  Gadget          49      246                      3
3 2023-01-04     C  Device          32     3319                      2
4 2023-01-05     C  Gadget           4     3011                      1

## 3. Data Inspection and Cleaning

Before analyzing data, it's important to inspect and clean it by checking its structure, identifying missing values, and handling duplicates.

### Real-Life Use Case: Healthcare Data Management

In healthcare organizations, patient data is often collected from various departments and systems, leading to inconsistencies, missing values, and duplicates. Clean data is essential for accurate diagnoses, treatment planning, and billing. Data scientists working with electronic health records (EHR) must carefully inspect and clean the data to ensure patient information is accurate and complete before using it for operational analytics or predictive modeling. For example, identifying and addressing missing lab results or duplicate patient records can significantly impact healthcare outcomes and financial reporting.

In [7]:
# Load the sales data
df = pd.read_csv('sales_data.csv')

# Basic information about the DataFrame
print("Shape (rows, columns):", df.shape)
print("\nColumn names:", df.columns.tolist())
print("\nData types:")
print(df.dtypes)

# Summary statistics
print("\nSummary statistics:")
df.describe(include='all')

Shape (rows, columns): (100, 6)

Column names: ['Date', 'Store', 'Product', 'Units_Sold', 'Revenue', 'Customer_Satisfaction']

Data types:
Date                     object
Store                    object
Product                  object
Units_Sold                int64
Revenue                   int64
Customer_Satisfaction     int64
dtype: object

Summary statistics:

,Date,Store,Product,Units_Sold,Revenue,Customer_Satisfaction
count,100,100,100,100.000000,100.000000,100.000000
unique,100,4,4,NaN,NaN,NaN
top,2023-01-01,D,Tool,NaN,NaN,NaN
freq,1,30,30,NaN,NaN,NaN
mean,NaN,NaN,NaN,25.400000,2630.850000,2.980000
std,NaN,NaN,NaN,14.760718,1442.454673,1.456299
min,NaN,NaN,NaN,1.000000,116.000000,1.000000
25%,NaN,NaN,NaN,11.750000,1336.750000,2.000000
50%,NaN,NaN,NaN,28.000000,2661.000000,3.000000
75%,NaN,NaN,NaN,37.000000,3836.500000,4.000000
max,NaN,NaN,NaN,49.000000,4993.000000,5.000000

In [8]:
# Checking for missing values
print("Missing values:")
print(df.isna().sum())

# Let's introduce some missing values for demonstration
df_with_missing = df.copy()
df_with_missing.loc[np.random.choice(df.index, 10), 'Revenue'] = np.nan
df_with_missing.loc[np.random.choice(df.index, 5), 'Customer_Satisfaction'] = np.nan

print("\nMissing values in the modified dataset:")
print(df_with_missing.isna().sum())

Missing values:
Date                     0
Store                    0
Product                  0
Units_Sold               0
Revenue                  0
Customer_Satisfaction    0
dtype: int64

Missing values in the modified dataset:
Date                     0
Store                    0
Product                  0
Units_Sold               0
Revenue                  9
Customer_Satisfaction    5
dtype: int64

In [9]:
# Handling missing values
# Method 1: Fill missing values with mean/median/mode
df_filled = df_with_missing.copy()
df_filled['Revenue'] = df_filled['Revenue'].fillna(df_filled['Revenue'].mean())
df_filled['Customer_Satisfaction'] = df_filled['Customer_Satisfaction'].fillna(
    df_filled['Customer_Satisfaction'].median())

# Method 2: Drop rows with missing values
df_dropped = df_with_missing.dropna()

print(f"Original shape: {df_with_missing.shape}")
print(f"After filling: {df_filled.shape}")
print(f"After dropping: {df_dropped.shape}")

Original shape: (100, 6)
After filling: (100, 6)
After dropping: (87, 6)

In [10]:
# Detecting and handling duplicates
# Let's introduce some duplicates
df_with_duplicates = pd.concat([df, df.iloc[:5]], ignore_index=True)

# Check for duplicates
duplicate_count = df_with_duplicates.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

# Remove duplicates
df_unique = df_with_duplicates.drop_duplicates()
print(f"Shape after removing duplicates: {df_unique.shape}")

Number of duplicate rows: 5
Shape after removing duplicates: (100, 6)

## 4. Filtering, Selecting, and Indexing Data

Pandas provides powerful ways to select, filter, and access data within DataFrames.

### Real-Life Use Case: Marketing Campaign Analysis

A marketing team needs to segment customers and target specific campaigns. Using pandas filtering capabilities, they can quickly isolate high-value customers (e.g., `df[df['lifetime_value'] > 10000]`), identify inactive users (e.g., `df[df['days_since_last_purchase'] > 90]`), or target specific demographics (e.g., `df[(df['age'] > 25) & (df['age'] < 40) & (df['location'] == 'New York')]`). These filtered segments form the basis for tailored marketing strategies and personalized communications, significantly improving campaign performance metrics.

In [11]:
# Basic column selection
print("Selecting a single column as Series:")
print(df['Revenue'].head())

print("\nSelecting multiple columns as DataFrame:")
print(df[['Store', 'Product', 'Revenue']].head())

Selecting a single column as Series:
0    1469
1    2086
2     246
3    3319
4    3011
Name: Revenue, dtype: int64

Selecting multiple columns as DataFrame:
  Store Product  Revenue
0     C    Tool     1469
1     D  Gadget     2086
2     A  Gadget      246
3     C  Device     3319
4     C  Gadget     3011

0    1469
1    2086
2     246
3    3319
4    3011
Name: Revenue, dtype: int64

Selecting multiple columns as DataFrame:
  Store Product  Revenue
0     C    Tool     1469
1     D  Gadget     2086
2     A  Gadget      246
3     C  Device     3319
4     C  Gadget     3011

In [12]:
# Row selection using iloc (position-based) and loc (label-based)
print("First 5 rows using iloc:")
print(df.iloc[:5])

print("\nRows 10-15:")
print(df.iloc[10:16])

print("\nSpecific rows and columns using iloc:")
print(df.iloc[0:3, [1, 3, 4]])

First 5 rows using iloc:
         Date Store Product  Units_Sold  Revenue  Customer_Satisfaction
0  2023-01-01     C    Tool          32     1469                      5
1  2023-01-02     D  Gadget          39     2086                      1
2  2023-01-03     A  Gadget          49      246                      3
3  2023-01-04     C  Device          32     3319                      2
4  2023-01-05     C  Gadget           4     3011                      1

Rows 10-15:
          Date Store Product  Units_Sold  Revenue  Customer_Satisfaction
10  2023-01-11     C  Device          15     2485                      3
11  2023-01-12     C    Tool          43     3019                      2
12  2023-01-13     C  Device          29     4836                      2
13  2023-01-14     C  Gadget          36     1902                      2
14  2023-01-15     D    Tool          13     4161                      1
15  2023-01-16     A  Device          32     3469                      1

Specific rows and columns using iloc:
  Store  Units_Sold  Revenue
0     C          32     1469
1     D          39     2086
2     A          49      246

In [13]:
# Filtering data based on conditions
# Filter stores with high revenue
high_revenue = df[df['Revenue'] > 4000]
print("High revenue transactions:")
print(high_revenue)

# Filter specific store and product combinations
store_a_widgets = df[(df['Store'] == 'A') & (df['Product'] == 'Widget')]
print("\nStore A Widget sales:")
print(store_a_widgets)

High revenue transactions:
          Date Store Product  Units_Sold  Revenue  Customer_Satisfaction
12  2023-01-13     C  Device          29     4836                      2
14  2023-01-15     D    Tool          13     4161                      1
22  2023-01-23     B  Gadget           6     4648                      2
24  2023-01-25     D  Widget          28     4190                      5
30  2023-01-31     A  Device          28     4599                      4
..         ...   ...     ...         ...      ...                    ...
74  2023-03-16     A  Device           2     4993                      4
76  2023-03-18     D    Tool          26     4648                      1
79  2023-03-21     D    Tool          32     4854                      1
80  2023-03-22     C  Widget           4     4742                      2
93  2023-04-04     B    Tool           9     4376                      1

[23 rows x 6 columns]

Store A Widget sales:
          Date Store Product  Units_Sold  Revenue  Customer_Satisfaction
21  2023-01-22     A  Widget          45     3823                      3
31  2023-02-01     A  Widget          25     3291                      1
35  2023-02-05     A  Widget          27     4782                      2
37  2023-02-07     A  Widget          41     1545                      3

In [14]:
# Using query method for more readable filtering
high_satisfaction = df.query('Customer_Satisfaction >= 4 & Units_Sold > 30')
print("High satisfaction and high volume sales:")
print(high_satisfaction)

High satisfaction and high volume sales:
          Date Store Product  Units_Sold  Revenue  Customer_Satisfaction
0   2023-01-01     C    Tool          32     1469                      5
25  2023-01-26     B  Device          44     2156                      4
32  2023-02-02     D  Widget          39     1796                      4
44  2023-02-14     D  Device          37     2300                      4
47  2023-02-17     C    Tool          44     3877                      4
50  2023-02-20     C    Tool          32     3891                      5
51  2023-02-21     B    Tool          32     1056                      4
53  2023-02-23     D    Tool          41      260                      4
54  2023-02-24     C  Widget          49     4593                      5
55  2023-02-25     D  Gadget          49     1400                      4
57  2023-02-27     A  Gadget          39     1627                      4
60  2023-03-02     C    Tool          49     4835                      5
62  2023-03-04     A  Device          49     2835                      4
70  2023-03-12     B  Device          32      662                      5
75  2023-03-17     B  Gadget          44     1059                      5
83  2023-03-25     D    Tool          38     1343                      5
86  2023-03-28     B  Gadget          34     1169                      5
92  2023-04-03     B  Widget          33      401                      5
99  2023-04-10     A    Tool          36     2400                      5

## 5. Data Transformation and Aggregation

Pandas provides various methods for transforming, grouping, and aggregating data.

### Real-Life Use Case: Retail Sales Analysis

A national retail chain needs to understand sales performance across different stores, regions, and product categories. Using pandas aggregation functions, analysts can quickly summarize total sales by region (`df.groupby('region')['sales'].sum()`), calculate average daily transactions per store (`df.groupby(['store', 'date'])['transactions'].mean()`), or identify the top-selling products in each category (`df.groupby(['category', 'product'])['units_sold'].sum().groupby(level=0).nlargest(3)`). These insights help management make informed decisions about inventory management, store staffing, and marketing resource allocation.

In [15]:
# Adding new columns
df['Revenue_per_Unit'] = df['Revenue'] / df['Units_Sold']
df['Is_High_Value'] = df['Revenue'] > df['Revenue'].median()

# Apply a custom function to a column
def categorize_satisfaction(score):
    if score >= 4:
        return 'High'
    elif score >= 2:
        return 'Medium'
    else:
        return 'Low'

df['Satisfaction_Category'] = df['Customer_Satisfaction'].apply(categorize_satisfaction)
df.head()

,Date,Store,Product,Units_Sold,Revenue,Customer_Satisfaction,Revenue_per_Unit,Is_High_Value,Satisfaction_Category
0,2023-01-01,C,Tool,32,1469,5,45.906250,False,High
1,2023-01-02,D,Gadget,39,2086,1,53.487179,False,Low
2,2023-01-03,A,Gadget,49,246,3,5.020408,False,Medium
3,2023-01-04,C,Device,32,3319,2,103.718750,True,Medium
4,2023-01-05,C,Gadget,4,3011,1,752.750000,True,Low

In [16]:
# Group by operations
store_summary = df.groupby('Store').agg({
    'Revenue': ['sum', 'mean'], 
    'Units_Sold': 'sum',
    'Customer_Satisfaction': 'mean'
})

print("Store summary:")
store_summary

Store summary:

      Revenue              Units_Sold Customer_Satisfaction
          sum         mean        sum                  mean
Store
A       57950  2897.500000        508              3.250000
B       59997  2307.576923        658              3.115385
C       72044  3001.833333        610              2.958333
D       73094  2436.466667        764              2.700000

In [17]:
# Multi-level groupby
product_store_summary = df.groupby(['Store', 'Product']).agg({
    'Revenue': 'sum',
    'Units_Sold': 'sum',
    'Customer_Satisfaction': 'mean'
}).reset_index()

print("Product and store summary:")
product_store_summary

Product and store summary:

   Store Product  Revenue  Units_Sold  Customer_Satisfaction
0      A  Device    25735         154               3.142857
1      A  Gadget     3932         142               3.500000
2      A    Tool    14842          74               4.000000
3      A  Widget    13441         138               2.250000
4      B  Device    11283         179               2.500000
5      B  Gadget    18911         221               3.625000
6      B    Tool    13020          93               3.200000
7      B  Widget    16783         165               3.000000
8      C  Device    10993          82               3.000000
9      C  Gadget     9043         128               2.000000
10     C    Tool    17091         200               4.200000
11     C  Widget    34917         200               2.727273
12     D  Device    12008         120               3.285714
13     D  Gadget     6043         140               2.500000
14     D    Tool    46947         417               2.400000
15     D  Widget     8096          87               3.000000

In [18]:
# Pivot tables
pivot_table = df.pivot_table(
    values=['Revenue', 'Units_Sold'],
    index='Store',
    columns='Product',
    aggfunc={'Revenue': 'sum', 'Units_Sold': 'sum'}
)

print("Pivot table of revenue and units sold by store and product:")
pivot_table

Pivot table of revenue and units sold by store and product:

        Revenue                      Units_Sold
Product  Device Gadget   Tool Widget     Device Gadget Tool Widget
Store
A         25735   3932  14842  13441        154    142   74    138
B         11283  18911  13020  16783        179    221   93    165
C         10993   9043  17091  34917         82    128  200    200
D         12008   6043  46947   8096        120    140  417     87

## 6. Handling Missing Data

Let's explore more advanced techniques for handling missing data.

### Real-Life Use Case: Environmental Sensor Data

Environmental scientists deploy networks of sensors to monitor air quality, temperature, humidity, and other metrics. These sensors occasionally fail or experience connectivity issues, resulting in gaps in the data. When analyzing trends or building predictive models, these gaps must be addressed. Using pandas, scientists can apply domain-appropriate techniques such as linear interpolation for temperature readings, forward-filling for slowly changing metrics like humidity, or more sophisticated techniques like time-series-based imputation for complex relationships. Proper handling of missing sensor data ensures more accurate environmental modeling and reliable alerting systems.

In [19]:
# Create a dataset with various missing patterns
df_missing = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, np.nan],
    'D': [1, 2, 3, 4, 5]
})

print("Original dataset with missing values:")
print(df_missing)
print("\nMissing value count by column:")
print(df_missing.isna().sum())

Original dataset with missing values:
     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  NaN  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  NaN  5

Missing value count by column:
A    1
B    1
C    2
D    0
dtype: int64

In [20]:
# Different imputation strategies

# 1. Fill with a constant value
df_fill_const = df_missing.fillna(0)
print("Filled with constant value:")
print(df_fill_const)

# 2. Fill with different values for each column
df_fill_dict = df_missing.fillna({'A': 0, 'B': 10, 'C': -1})
print("\nFilled with different values per column:")
print(df_fill_dict)

# 3. Forward fill (propagate last valid observation forward)
df_ffill = df_missing.fillna(method='ffill')
print("\nForward fill:")
print(df_ffill)

# 4. Backward fill (use next valid observation to fill gap)
df_bfill = df_missing.fillna(method='bfill')
print("\nBackward fill:")
print(df_bfill)

Filled with constant value:
     A    B    C  D
0  1.0  0.0  1.0  1
1  2.0  2.0  2.0  2
2  0.0  3.0  3.0  3
3  4.0  4.0  0.0  4
4  5.0  5.0  0.0  5

Filled with different values per column:
     A     B    C  D
0  1.0  10.0  1.0  1
1  2.0   2.0  2.0  2
2  0.0   3.0  3.0  3
3  4.0   4.0 -1.0  4
4  5.0   5.0 -1.0  5

Forward fill:
     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  2.0  3.0  3.0  3
3  4.0  4.0  3.0  4
4  5.0  5.0  3.0  5

Backward fill:
     A    B    C  D
0  1.0  2.0  1.0  1
1  2.0  2.0  2.0  2
2  4.0  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  NaN  5

C:\Users\mb\AppData\Local\Temp\ipykernel_4456\1837009022.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df_missing.fillna(method='ffill')
C:\Users\mb\AppData\Local\Temp\ipykernel_4456\1837009022.py:19: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df_missing.fillna(method='bfill')

In [21]:
# Interpolation methods
df_interp = df_missing.interpolate(method='linear')
print("Linear interpolation:")
print(df_interp)

Linear interpolation:
     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  3.0  4
4  5.0  5.0  3.0  5

## 7. Merging, Joining, and Concatenating DataFrames

Pandas provides various ways to combine multiple DataFrames together.

### Real-Life Use Case: Supply Chain Management

In supply chain management, data is often siloed across different systems. A manufacturing company might have separate datasets for inventory levels, production schedules, supplier information, transportation logistics, and customer orders. To optimize operations, these datasets need to be combined. Using pandas, analysts can join supplier data with inventory levels, merge production schedules with materials availability, and link shipping data with customer orders. These combined datasets enable end-to-end visibility, allowing managers to identify bottlenecks, optimize inventory levels, reduce lead times, and improve overall supply chain efficiency.

In [22]:
# Create sample DataFrames
df1 = pd.DataFrame({
    'ID': ['A1', 'A2', 'A3', 'A4'],
    'Name': ['John', 'Emily', 'Martha', 'Samuel'],
    'Department': ['HR', 'Marketing', 'Finance', 'IT']
})

df2 = pd.DataFrame({
    'ID': ['A2', 'A3', 'A4', 'A5'],
    'Salary': [60000, 80000, 70000, 90000],
    'Years_Employed': [3, 7, 4, 2]
})

df3 = pd.DataFrame({
    'Department': ['HR', 'Marketing', 'Finance', 'IT', 'Operations'],
    'Budget': [100000, 200000, 300000, 250000, 150000]
})

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
print("\nDataFrame 3:")
print(df3)

DataFrame 1:
   ID    Name Department
0  A1    John         HR
1  A2   Emily  Marketing
2  A3  Martha    Finance
3  A4  Samuel         IT

DataFrame 2:
   ID  Salary  Years_Employed
0  A2   60000               3
1  A3   80000               7
2  A4   70000               4
3  A5   90000               2

DataFrame 3:
   Department  Budget
0          HR  100000
1   Marketing  200000
2     Finance  300000
3          IT  250000
4  Operations  150000

In [23]:
# Different join types

# Inner join
inner_join = pd.merge(df1, df2, on='ID', how='inner')
print("Inner join:")
print(inner_join)

# Left join
left_join = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft join:")
print(left_join)

# Right join
right_join = pd.merge(df1, df2, on='ID', how='right')
print("\nRight join:")
print(right_join)

# Outer join
outer_join = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter join:")
print(outer_join)

Inner join:
   ID    Name Department  Salary  Years_Employed
0  A2   Emily  Marketing   60000               3
1  A3  Martha    Finance   80000               7
2  A4  Samuel         IT   70000               4

Left join:
   ID    Name Department   Salary  Years_Employed
0  A1    John         HR      NaN             NaN
1  A2   Emily  Marketing  60000.0             3.0
2  A3  Martha    Finance  80000.0             7.0
3  A4  Samuel         IT  70000.0             4.0

Right join:
   ID    Name Department  Salary  Years_Employed
0  A2   Emily  Marketing   60000               3
1  A3  Martha    Finance   80000               7
2  A4  Samuel         IT   70000               4
3  A5     NaN        NaN   90000               2

Outer join:
   ID    Name Department   Salary  Years_Employed
0  A1    John         HR      NaN             NaN
1  A2   Emily  Marketing  60000.0             3.0
2  A3  Martha    Finance  80000.0             7.0
3  A4  Samuel         IT  70000.0             4.0
4  A5     NaN        NaN  90000.0             2.0

In [24]:
# Join on different column names
dept_budget = pd.merge(df1, df3, on='Department', how='left')
print("Joining on Department column:")
print(dept_budget)

Joining on Department column:
   ID    Name Department  Budget
0  A1    John         HR  100000
1  A2   Emily  Marketing  200000
2  A3  Martha    Finance  300000
3  A4  Samuel         IT  250000

In [25]:
# Concatenating DataFrames
df4 = pd.DataFrame({
    'ID': ['A6', 'A7'],
    'Name': ['Mark', 'Lisa'],
    'Department': ['Legal', 'HR']
})

# Vertical concatenation (row-wise)
df_concat_rows = pd.concat([df1, df4], ignore_index=True)
print("Concatenated rows:")
print(df_concat_rows)

# Horizontal concatenation (column-wise)
df5 = pd.DataFrame({
    'Performance_Score': [4.5, 3.9, 4.2, 4.7],
    'Bonus': [2000, 1500, 1800, 2200]
}, index=['A1', 'A2', 'A3', 'A4'])

df1_with_index = df1.copy()
df1_with_index.set_index('ID', inplace=True)

df_concat_cols = pd.concat([df1_with_index, df5], axis=1)
print("\nConcatenated columns:")
print(df_concat_cols)

Concatenated rows:
   ID    Name Department
0  A1    John         HR
1  A2   Emily  Marketing
2  A3  Martha    Finance
3  A4  Samuel         IT
4  A6    Mark      Legal
5  A7    Lisa         HR

Concatenated columns:
      Name Department  Performance_Score  Bonus
A1    John         HR                4.5   2000
A2   Emily  Marketing                3.9   1500
A3  Martha    Finance                4.2   1800
A4  Samuel         IT                4.7   2200

## 8. Working with Time Series Data

Pandas has excellent support for time series analysis.

### Real-Life Use Case: Energy Consumption Forecasting

Utility companies need to forecast energy demand to efficiently manage power generation and distribution. Using pandas time series capabilities, data scientists can analyze historical consumption patterns, identify seasonal trends (e.g., higher usage during summer months for cooling), detect daily patterns (peak hours vs. off-peak), and account for special events or holidays. By resampling hourly data to daily or weekly aggregates, calculating rolling averages to smooth out noise, and extracting time-based features (day of week, month, holiday indicators), they can build accurate forecasting models. These forecasts help optimize power generation schedules, reduce costs, and ensure reliable service during peak demand periods.

In [26]:
# Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Set Date as index
ts_df = df.set_index('Date')
print("Time series data (first few rows):")
print(ts_df.head())

Time series data (first few rows):
           Store Product  Units_Sold  Revenue  Customer_Satisfaction  \
Date
2023-01-01     C    Tool          32     1469                      5
2023-01-02     D  Gadget          39     2086                      1
2023-01-03     A  Gadget          49      246                      3
2023-01-04     C  Device          32     3319                      2
2023-01-05     C  Gadget           4     3011                      1

            Revenue_per_Unit  Is_High_Value Satisfaction_Category
Date
2023-01-01         45.906250          False                  High
2023-01-02         53.487179          False                   Low
2023-01-03          5.020408          False                Medium
2023-01-04        103.718750           True                Medium
2023-01-05        752.750000           True                   Low

In [27]:
# Extracting date components
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()

print("Date components:")
df[['Date', 'Year', 'Month', 'Day', 'Weekday']].head()

Date components:

        Date  Year  Month  Day    Weekday
0 2023-01-01  2023      1    1     Sunday
1 2023-01-02  2023      1    2     Monday
2 2023-01-03  2023      1    3    Tuesday
3 2023-01-04  2023      1    4  Wednesday
4 2023-01-05  2023      1    5   Thursday

In [28]:
# Time series resampling
# Daily to weekly resampling
weekly_sales = ts_df.resample('W')['Revenue'].sum()
print("Weekly sales:")
print(weekly_sales.head())

# Daily to monthly resampling
monthly_sales = ts_df.resample('M').agg({
    'Revenue': 'sum',
    'Units_Sold': 'sum',
    'Customer_Satisfaction': 'mean'
})
print("\nMonthly aggregated data:")
print(monthly_sales)

Weekly sales:
Date
2023-01-01     1469
2023-01-08    13027
2023-01-15    21538
2023-01-22    15385
2023-01-29    21609
Freq: W-SUN, Name: Revenue, dtype: int64

Monthly aggregated data:
            Revenue  Units_Sold  Customer_Satisfaction
Date
2023-01-31    78881         883               2.516129
2023-02-28    79362         746               3.178571
2023-03-31    85414         695               3.096774
2023-04-30    19428         216               3.500000

C:\Users\mb\AppData\Local\Temp\ipykernel_4456\58951012.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_sales = ts_df.resample('M').agg({

In [29]:
# Time-based filtering
# Filter data for a specific month
jan_data = ts_df['2023-01-01':'2023-01-31']
print(f"January data shape: {jan_data.shape}")

# Filter data between two dates
q1_data = ts_df['2023-01-01':'2023-03-31']
print(f"Q1 data shape: {q1_data.shape}")

January data shape: (31, 8)
Q1 data shape: (90, 8)

## 9. Practical Exercises

Let's consolidate our knowledge with some practical exercises.

### Real-Life Use Case: Business Intelligence Dashboard

A business intelligence team needs to create interactive dashboards for company executives. The exercises below mimic the type of data preparation and analysis required to power these dashboards. By practicing these skills, you'll learn how to transform raw data into meaningful business insights that drive decision-making. In real-world scenarios, the output of these analyses would feed into visualization tools like Tableau, Power BI, or custom web dashboards used by stakeholders across the organization.

### Exercise 1: Basic Data Analysis

1. Load the sales data
2. Find the top 5 days with highest revenue
3. Calculate the average satisfaction score by product
4. Identify which store has the highest average revenue per transaction

In [30]:
# Exercise 1 Solution

# 1. Load the sales data
sales = pd.read_csv('sales_data.csv')
sales['Date'] = pd.to_datetime(sales['Date'])

# 2. Find the top 5 days with highest revenue
top_revenue_days = sales.groupby('Date')['Revenue'].sum().sort_values(ascending=False).head(5)
print("Top 5 days with highest revenue:")
print(top_revenue_days)

# 3. Calculate the average satisfaction score by product
product_satisfaction = sales.groupby('Product')['Customer_Satisfaction'].mean().sort_values(ascending=False)
print("\nAverage satisfaction score by product:")
print(product_satisfaction)

# 4. Identify which store has the highest average revenue per transaction
store_avg_revenue = sales.groupby('Store')['Revenue'].mean().sort_values(ascending=False)
print("\nAverage revenue per transaction by store:")
print(store_avg_revenue)

Top 5 days with highest revenue:
Date
2023-03-16    4993
2023-03-21    4854
2023-01-13    4836
2023-03-02    4835
2023-02-04    4823
Name: Revenue, dtype: int64

Average satisfaction score by product:
Product
Tool      3.100000
Gadget    3.050000
Device    3.000000
Widget    2.769231
Name: Customer_Satisfaction, dtype: float64

Average revenue per transaction by store:
Store
C    3001.833333
A    2897.500000
D    2436.466667
B    2307.576923
Name: Revenue, dtype: float64

### Exercise 2: Data Transformation Challenge

1. Create a new column that categorizes revenue into 'Low', 'Medium', 'High' based on percentiles
2. Calculate a 7-day moving average of revenue
3. Find the correlation between units sold and customer satisfaction

In [31]:
# Exercise 2 Solution

# 1. Create a new column that categorizes revenue into 'Low', 'Medium', 'High' based on percentiles
sales['Revenue_Category'] = pd.qcut(
    sales['Revenue'], 
    q=[0, 0.33, 0.67, 1], 
    labels=['Low', 'Medium', 'High']
)

print("Revenue categories count:")
print(sales['Revenue_Category'].value_counts())

# 2. Calculate a 7-day moving average of revenue
ts_sales = sales.set_index('Date').sort_index()
revenue_ma = ts_sales['Revenue'].rolling(window=7).mean()

print("\n7-day moving average of revenue (first 10 days):")
print(revenue_ma.head(10))

# 3. Find the correlation between units sold and customer satisfaction
correlation = sales[['Units_Sold', 'Customer_Satisfaction', 'Revenue']].corr()
print("\nCorrelation matrix:")
print(correlation)

Revenue categories count:
Revenue_Category
Medium    34
Low       33
High      33
Name: count, dtype: int64

7-day moving average of revenue (first 10 days):
Date
2023-01-01            NaN
2023-01-02            NaN
2023-01-03            NaN
2023-01-04            NaN
2023-01-05            NaN
2023-01-06            NaN
2023-01-07    1986.857143
2023-01-08    1861.000000
2023-01-09    2002.428571
2023-01-10    2261.428571
Name: Revenue, dtype: float64

Correlation matrix:
                       Units_Sold  Customer_Satisfaction   Revenue
Units_Sold               1.000000               0.131948 -0.112895
Customer_Satisfaction    0.131948               1.000000 -0.211610
Revenue                 -0.112895              -0.211610  1.000000

### Exercise 3: Advanced Analysis

1. Identify which product-store combination generates the highest total revenue
2. Calculate the day of week effect on sales
3. Create a pivot table showing total revenue by store and product

In [32]:
# Exercise 3 Solution

# 1. Identify which product-store combination generates the highest total revenue
product_store_revenue = sales.groupby(['Store', 'Product'])['Revenue'].sum().reset_index()
top_combinations = product_store_revenue.sort_values(by='Revenue', ascending=False).head(5)
print("Top 5 product-store combinations by revenue:")
print(top_combinations)

# 2. Calculate the day of week effect on sales
sales['Weekday'] = sales['Date'].dt.day_name()
weekday_sales = sales.groupby('Weekday')['Revenue'].agg(['sum', 'mean'])
# Reorder days of week
weekday_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
weekday_sales = weekday_sales.reindex(weekday_order)
print("\nSales by day of week:")
print(weekday_sales)

# 3. Create a pivot table showing total revenue by store and product
pivot = pd.pivot_table(sales, values='Revenue', index='Store', columns='Product', 
                       aggfunc='sum', fill_value=0)
print("\nTotal revenue by store and product:")
print(pivot)

Top 5 product-store combinations by revenue:
   Store Product  Revenue
14     D    Tool    46947
11     C  Widget    34917
0      A  Device    25735
5      B  Gadget    18911
10     C    Tool    17091

Sales by day of week:
             sum         mean
Weekday
Monday     31976  2131.733333
Tuesday    35211  2515.071429
Wednesday  42994  3071.000000
Thursday   40042  2860.142857
Friday     34728  2480.571429
Saturday   36279  2591.357143
Sunday     41855  2790.333333

Total revenue by store and product:
Product  Device  Gadget   Tool  Widget
Store
A         25735    3932  14842   13441
B         11283   18911  13020   16783
C         10993    9043  17091   34917
D         12008    6043  46947    8096

## Summary

In this notebook, we've covered key pandas functionalities for data manipulation:

- **Creating and working with pandas data structures** (Series, DataFrame) - *essential for organizing any data analysis project*
- **Reading and writing data from/to various formats** - *critical for working with diverse data sources in business environments*
- **Data inspection and cleaning techniques** - *fundamental for ensuring data quality in any analytics workflow*
- **Different ways to select, filter, and index data** - *powerful capabilities for focusing on relevant subsets of your data*
- **Data transformation and aggregation methods** - *key for summarizing information and extracting insights*
- **Handling missing data effectively** - *essential for maintaining data integrity despite incomplete information*
- **Combining datasets through merging, joining, and concatenation** - *important for creating comprehensive unified datasets*
- **Working with time series data** - *crucial for analyzing patterns over time and making forecasts*
- **Practical exercises to apply these concepts** - *reinforcing learning through hands-on problem-solving*

These pandas skills form the backbone of modern data analysis in Python, applicable across industries from finance and healthcare to marketing and environmental science. Mastering these techniques will enable you to efficiently transform raw data into actionable insights in virtually any data-driven role.

## Additional Real-World Case Studies

### 1. Fraud Detection in Banking

Banks use pandas to analyze transaction data for suspicious patterns. Data scientists create features like transaction frequency, amount deviations from historical patterns, and geographic anomalies using pandas groupby, rolling window functions, and filtering operations. These derived features feed into machine learning models that flag potentially fraudulent transactions for further investigation.

```python
# Example of transaction frequency analysis
hourly_transactions = df.groupby([df['transaction_date'].dt.date, 
                                df['customer_id'], 
                                df['transaction_date'].dt.hour])['amount'].count().reset_index()
# Flag unusual transaction frequency
customer_hourly_stats = hourly_transactions.groupby('customer_id')['amount'].agg(['mean', 'std'])
merged_data = hourly_transactions.merge(customer_hourly_stats, on='customer_id')
merged_data['z_score'] = (merged_data['amount'] - merged_data['mean']) / merged_data['std']
suspicious = merged_data[merged_data['z_score'] > 3]  # Transactions with unusually high frequency
```

### 2. Product Recommendation Systems

E-commerce companies use pandas to analyze purchase history and build recommendation engines. Data scientists use merge operations to combine user profiles with purchase history, pivot tables to create user-item matrices, and groupby operations to identify frequently co-purchased items. These transformations prepare the data for collaborative filtering algorithms that power "customers who bought this also bought" recommendations.

### 3. Urban Transportation Planning

City planners use pandas to analyze public transit data, including bus/train ridership, traffic patterns, and infrastructure usage. Using time series capabilities, they can identify peak travel times, resampling minute-by-minute data to hourly or daily aggregates. With groupby operations, they can analyze differences between weekdays and weekends, or examine transit usage by neighborhood. These insights help optimize bus routes, traffic light timing, and infrastructure investments.

### 4. Clinical Trial Data Analysis

Pharmaceutical researchers use pandas to analyze clinical trial results, comparing treatment and control groups across multiple metrics. They use pivot tables to restructure patient visit data from long to wide format, filtering operations to handle inclusion/exclusion criteria, and statistical functions to calculate effect sizes and confidence intervals. Pandas' ability to handle missing values is especially important, as patient data often contains gaps due to missed visits or incomplete tests.